@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0%;
    -ms-overflow-style: none;
}

a {
    text-decoration: none;
}

.loading_text {
    position: relative;
    top: 200px;
    text-align: center;
    font-family: 'JalnanGothic';
    color: silver;

}

.top_bar {
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(245, 245, 247);
    position: fixed;
    top: 0%;
    text-align: center;
    height: 62px;
    z-index: 999;
}

.logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 150px;
    height: 28px;
}

.top_navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 210px;
    display: flex;
}

.top_navigation_movie {
    font-family: LINESeedKR-Bd;
    color: gray;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.top_navigation_tv {
    font-family: LINESeedKR-Bd;
    color: gray;
    position: relative;
    top: 5px;
    left: 30px;
    cursor: pointer;
}

.search_bar {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.search_input {
    border: none;
    background-color: rgb(245, 245, 247);
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: bold;
}

.movie_list_total {
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 65px;
}

.movie_list {
    display: flex;
    overflow: auto;
    overflow: scroll;
}

.movie_list::-webkit-scrollbar {
    display: none;
}

.movie_list_title {
    display: flex;
    position: relative;
    z-index: -1;
    margin-block-start: 1em;
    margin-block-end: 0.4em;
}


.movie {
    margin: 5px;
    cursor: pointer;
}

.movie_img {
    width: 219px;
    height: 328px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.movie_title {
    font-family: 'LINESeedKR-Bd';
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
}

.movie_release_date {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.movie_vote_average {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.slide_btn_box {
    display: flex;
    width: 100%;
    height: 0px;
    position: relative;
    bottom: 290px;
}

.slide_btn_prev {
    z-index: 99;
    width: 36px;
    height: 36px;
    cursor: pointer;
    filter: drop-shadow(4px 4px 3px darkgrey);
}

.slide_btn_next {
    z-index: 99;
    width: 36px;
    height: 36px;
    cursor: pointer;
    filter: drop-shadow(4px 4px 3px darkgrey);
    position: absolute;
    right: 0px;
}

.hidden {
    display: none;
}